#inContent .box .question1-item{
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
    border: solid #111 4px;
    margin-bottom: 38px;
    padding-bottom: 1em;
}

#inContent .box .question1-item .question-title{
    margin: 10px 0;
    text-align: left;
    border-bottom: solid #111 4px;
    padding: 10px 20px 10px 20px;
    overflow: hidden;
}
#inContent .box .question1-item .question-title li{
    float:left;
    padding-bottom : 4000px;
    margin-bottom : -4000px;
    
}
.question-cnt{
    width: 50px;
}

#inContent .box .question1-item .question-title .question{
    max-width: 1000px;
}

input.check{
    position: absolute;
    left: -9999px;
}
.question1-item .choises {
    margin: 0 auto;
    width: 100%;
    text-align: left;
}
.question1-item label {
    box-sizing: border-box;
    float: left;
    position: relative;
    left:1%;
    width: 48%;
    top:10px;
    margin: 0 10px 15px 0;
    padding: 5px 30px 5px 60px;
    border: 3px solid #111;
    border-radius: 100px;
    cursor: pointer;
}

.question1-item label::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 32px;
    border: 3px solid #111;
    border-radius: 100px;
    transition: background-color .2s;
    
}

.question1-item label:hover, input:focus + label {
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

input:checked + label {
    background-color: #6febf6;
}

input:checked + label::before {
    background-color: #111;
}
#send-answer{
    font-size:18px;
    background: #26c7d3;
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    color:#FFF;
    border-bottom: solid 3px #5e7fca;
    height: 60px;
    width: 300px;
}
#send-answer:hover{
    box-shadow: 0 0 5px 2px rgba(11, 148, 240, 0.815);
}
.prev-next-buttons .prev-next-button{
    font-size:20px;
    font-weight: bold;
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    color:#111;
    width: 15%;
    border-bottom: solid 3px #5e7fca;
    height: 50px;
    padding-top: 5px;
}

#prev-button{
    float: left;
    background: #74eb98;/*ボタン色*/
    border:1px solid #09a1cf;
}
#prev-button :hover{
    background: #06e047;/*ボタン色*/
}

#next-button{
    float:right;
    background: #e7b76e;/*ボタン色*/
    border:1px solid #09a1cf;
}
#next-button :hover{
    background: #f19202;/*ボタン色*/
}
#alert-msg{
    height: 50px;
}
